.code {
  font-size: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.message {
  font-size: 70px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.not-found-container {
  margin-top: 0;
  margin-left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
