.sidebar {
  position: fixed;
  top: 55px;
  left: 300px;
  margin-left: -300px;
  width: 300px;
  bottom: 0px;
  overflow-y: auto;
  overflow-x: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
}


@media screen and (max-width: 992px) {
  .sidebar {
    left: 0px;
  }
}

@media print {
  .sidebar {
    display: none;
  }
}
