<div class="row">
  <div class="col-12">
    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" id="email" placeholder="Ingrese el Correo Electrónico">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <div class="btn-group m-2" role="group">
      <button type="button" class="btn btn-primary btn-sm">Recuperar Contraseña</button>
      <button type="button" class="ml-2 btn btn-danger btn-sm" (click)="change_page('Autenticación')">Cancelar</button>
    </div>
  </div>
</div>
