<div class="row">
  <div class="col-12">
    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico</label>
      <input type="email" class="form-control" id="email" placeholder="Ingrese el Correo Electrónico" [(ngModel)]="email">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" placeholder="Ingrese su Contraseña" [(ngModel)]="password" (keyup.enter)="login()">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center">
    <div class="btn-group m-2" role="group">
      <button type="button" class="btn btn-primary btn-sm" (click)="login()">Iniciar Sesión</button>
      <button type="button" class="btn btn-warning btn-sm" (click)="change_page('Recuperar Contraseña')">Recuperar Contraseña</button>
      <button type="button" class="ml-2 btn btn-success btn-sm" (click)="change_page('Crear Cuenta')">Crear Cuenta</button>
    </div>
  </div>
</div>
