* {
  -webkit-transition: margin-left 0.2s ease-in-out;
  -moz-transition: margin-left 0.2s ease-in-out;
  -ms-transition: margin-left 0.2s ease-in-out;
  -o-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
}

.main_container {
  position: relative;
  margin-top: 55px;
  margin-left: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 992px) {
  .main_container {
    margin-left: 0px;
  }
}

@media print {
  .main_container {
    margin-left: 0px;
    margin-top: 0px;
  }
}
