<div class="wallpaper">
  <div class="row">
    <div class="col-2">
      <i class="m-2 fas fa-brain fa-2x text-light"></i>
    </div>
    <div class="col-10 text-right">
      <div class="btn-group m-2" role="group">
        <button type="button" class="btn btn-light btn-sm">Ayuda</button>
        <button type="button" class="btn btn-light btn-sm">Manual</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
      <div class="login">
        <div class="row">
          <h1 class="col-12 mt-5 mb-2">Autenticación</h1>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label for="email" class="form-label">Correo Electrónico</label>
              <input type="email" class="form-control" id="email" placeholder="Ingrese el Correo Electrónico">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="password" placeholder="Ingrese su Contraseña">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <div class="btn-group m-2" role="group">
              <button type="button" class="btn btn-primary btn-sm">Iniciar Sesión</button>
              <button type="button" class="btn btn-warning btn-sm">Recuperar Contraseña</button>
              <button type="button" class="ml-2 btn btn-success btn-sm">Crear Cuenta</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">

    </div>
  </div>
  <div class="footer">
    <div class="row">
      <div class="col-12 text-light text-center mb-2">
        @Copyright - Todos los derechos reservados
      </div>
    </div>
  </div>
</div>

